.food-details {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 15px;
}

.food-details > img {
    width: 350px;
    height: 200px;
    border-radius: 5px;
}

.details > h3 {
    font-size: 1.7rem;
    font-weight: 600;
}

.details > label {
    font-weight: 600;
}

.price {
    font-weight: 600;
}

.detail-btns {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 15px;
}

.detail-btns > button {
    color: whitesmoke;
    background-color: #ff4800;
    border: 2px solid #ff4800;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
}