.titles {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.titles > h1 {
    font-weight: 600;
    font-size: 2.5rem;
}
.titles > img {
    width: 200px;
    height: 150px;
    border-radius: 5px;
}

.rest {
    margin-left: 15px;
}