.signup {
    font-family: 'Poppins', sans-serif;
}
.signup-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 5px;

}

.heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    
}

.row div {
    width: 25%;
    align-items: baseline;
}
.row div.lab {
    width: 15%;
}

.user-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.first-name {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: nowrap;
}