.acc-security {
    width: 80%;
    
}

.inline-btn {
    border: 2px solid #FF7900;
    color: #FF7900;
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    
}

.inline-btn:hover {
    background-color: #FF7900;
    color: whitesmoke; 
      
}