.shopping-cart {
    background-color: lightgray;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    transition: 0.5s;
    align-items: center;
    width: 0;
    visibility: hidden;
}

.close-btn {
    background-color: lightgray;
    border: none;
    font-size: 1.7rem;
}
.shopping-cart h2 {
    margin-left: 12px;
    font-size: 1.5rem;
}

.shopping-cart h4 {
    margin-left: 15px;
    font-size: 1rem;
    color: gray;
}

.shopping-cart h5 {
    font-size: 0.9rem;
    margin-left: 15px;
}
.product-list > li {
    display: flex;
    flex-direction: row;
}

.product {
    margin-right: 10px;
}

.product > h5 {
    font-size: 1rem;
}

.product p {
    font-size: 0.8rem;
}

.shopping-cart > a {
    text-decoration: none;
}
.pill-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 65%;
    text-align: center;
    background-color: #FF1800;
    color: whitesmoke;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
}

#empty {
    text-align: center;
    font-size: 7rem;
}

.empty-cart {
    text-align: center;
}