.food-card {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.food-info {
    padding: 2px;
    border: 1px solid lightgray;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
}

.food-card > img {
    border-radius: 0 20px 20px 0;
    width: 150px;
    height: 124px;
}