.header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    height: 5%;
    margin-bottom: 25px;
    z-index: auto;
    
}

.header > h1 {
    font-size: 1.5rem;
}

.fill-btn {
    color: whitesmoke;
    background-color: #FF7900;
    border: 2px solid #FF7900;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
}

.round-fill-btn {
    color: whitesmoke;
    background-color: #FF7900;
    border: 2px solid #FF7900;
    border-radius: 50px;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 10px;
}

#cart-btn {
    background-color: #ff9e00;
    border: 2px solid #ff9e00;
    height: 100%;
}

.logged-users-opt {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.home-link {
    margin-top: 0;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 2rem;
}

#ffab {
    visibility: hidden;
}
.logged {
    display: grid;
    grid-template-columns: 600px 400px;
}

@media screen and (max-width: 1300px) {
    .logged {
        grid-template-columns: 400px 200px;
    }

    .logged-users-opt {
        height: 40px;
    }
    
    #cart-btn {
        width: 100px;
    }
    #cart-btn span {
        visibility: hidden;
    }
}

@media screen and (max-width: 1000px) {
    #ffab{
        visibility:visible;
    }

    #fastf {
        visibility: hidden;
    }
    
}