.restaurant-card {
    display: flex;
    flex-direction: column;
    width: 274px;
    height: 255px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}

.restaurant-card > img {
    width: 272px;
    height: 185px;
    border-radius: 10px 10px 0 0;
}

.restaurant-card > button {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 0;
    position: relative;
    top:-180px;
    left: 235px;
    margin: 0;
    color: whitesmoke;
}
.restaurant-info > h4 {
    margin-bottom: -5px;
}
.restaurant-info > h5 {
    font-size: 0.8rem;
    margin-bottom: 0;
}