.side-menu {
    background-color: #FF4800;
    height: 1000px;
    width: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.side-menu > button {
    background: none;
    color: white;
    border: none;
    font-size: 1.7rem;
}

#close-btn {
    text-align: right;
    margin-right: 5px;
}
.page-links {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.page-links > a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

@media screen and (min-width: 965px)
 {
    #sidebar {
        width: 5%;
    }
}